@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-base: 10, 10, 10;
    --color-text-muted: 255, 0, 0;
    --color-text-inverted: 10, 10, 10;
    --color-fill: 202, 138, 4;
    --color-button-accent: 163, 31, 22;
    --color-button-accent-hover: 74, 222, 128;
    --color-button-muted: 255, 255, 255;
  }
}
